<div>
  <h1>Задачи</h1>

  <% @projects.each do |project| %>
    <h2><%= project.title %></h2>
    <ul>
      <% project.todos.each do |todo| %>
        <li><%= todo.text %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <h1>Новая задача</h1>
  <a id="add-todo" href="#">
    <%= image_tag("addTodoIcon.png", :alt => "Добавить задачу") %>
  </a>
  <%= form_with scope: :todo, id: "create-todo", url: todo_create_path, local: true do |form| %>
    <p>
      <%= form.text_field :text, placeholder: "Название задачи..." %>
    </p>
    <%= form.select(:project_id, options_for_select(Project.all.map { |p| [ p.title, p.id ] })) %>
    <p>
      <%= link_to "ОТМЕНА", '#', id: "cancel-btn" %>
      <%= link_to 'ОК', "#", :onclick => "$('#create-todo').submit()" %>
    </p>

  <% end %>
</div>
